.container {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#map {
 height: 100vh;
 width: 65%;
  }

main#App {
  display: flex;
  flex-wrap: wrap;

}    

#sidebar {
  width: 35%;
}

#header {
  width: 100%;
  display: flex;
}

/* Restaurant Sidebar*/
li.item {
    list-style: none;
}


/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

#restaurantList {
  width: 300px;
  max-width: 35%;
  height:calc(100vh - 50px);
  position: fixed;
  top: 0;

}


@media all and (max-width: 360px) {
    .page-title {
        font-size: 1.2rem
    }
}

@media all and (max-width: 767px) {
    .toggle-menu {
        display: block
    }
}