html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  }

main#App {
  display: flex;
  flex-wrap: wrap;
}    

/* Header */
#header {
  width: 100%;
  display: block;
  height: 70px;
}

.hamButton {
  margin-left: 10px;
  margin-right: 20px;
  position: absolute;
  left: 10px;
  top: 20px;
  background: white;
  padding: 10px;
  cursor: pointer;
}

.restaurantTitle {
  text-align: center;
  font-size: 1.75rem;
}

/* Map */
#map {
 height: calc(100vh - 8.6vh);
 width: 100%;
}

/* Restaurant Sidebar*/
#sidebar {
  max-width: 65%;
  width: 300px;
  position: fixed;
  top: 70px;
  left: 0;
  background-color: lightgrey;
  height: 100vh;
  z-index: 100;
  overflow-y: scroll;
}

label.sidebarTitle {
  font-size: 1.4rem;
  margin-bottom: 1.1rem;
  display: block;
  text-align: center;
}

.inputFilter {
  padding: 0.3rem; 
  width: 100%;
  box-sizing: border-box;
}

.listItem {
  list-style: none;
  padding: 0;
  margin: 5px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.listItem li {
  padding: 3px;
  cursor: pointer;
  border: 1px solid black;
  margin-bottom: 10px;
}

.listItem li:hover,
.listItem li:hover {
  border-radius: 5px;
  color: orange;
  background-color: gray;
}

/* Media Queries */
@media all and (max-width: 350px) {
  #header {
    display: block;
  }
 
  .restaurantTitle {
    text-align: center;
    font-size: 1.2rem;
    padding-top: 0.55rem;
    padding-left: 0.60rem;
  }

  #sidebar {
    max-width: 50%;
  }
}

@media all and (min-width: 351px) and (max-width: 450px) {
 .restaurantTitle {
    text-align: center;
    font-size: 1.40rem;
    padding-top: 0.55rem;
  }

  #sidebar {
    max-width: 50%;
  }
}